  <title>The Mommy Box Company | A Pregnancy Gift for Original Mothers - Maternity fashion, health, and beauty.</title>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="color: #34495e;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Let's Do This!</h4>
      </div>
      <div class="modal-body">
        <%= render 'layouts/signup' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--cover page-->
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">The Mommy Box Co</h3>
          <ul class="nav masthead-nav">
<!--        <li class="active"><%= link_to "home", root_path %></li>
            <li><%= link_to "contact", contact_path %></li>
            <li><%= link_to "about", about_path %></li>
-->          
            <li>
              <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Reserve Your Discount &raquo;</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
      <br><br>
        <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
        <h2>WE'RE CHANGING THE WAY WOMEN EXPERIENCE PREGNANCY</h2> 
        <p class="lead">We provide the essentials, information, and some seriously needed pampering, all in one monthly box. <br><strong>Launching soon!</strong></p>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!--end of cover page-->
<%= render 'layouts/info' %>
<br><br><br>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Claim Your Discount
</button>
<br><br><br><br><br><br><br>
<%= render 'layouts/order' %>