<!--cover page-->
<div class="site-wrapper" style="background: #3d566e;">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
      <br><br>
      <h1>Choose your current month of pregnancy</h1>
        <div class="row">
        <div class="col-sm-1 col-sm-offset-2">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        <div class="col-sm-1">
        <h2><%= link_to "1", about_path %>
        </div>
        </div><!--row-->
      </div><!--inner cover-->
    </div><!--container-->
  </div><!--wrapper-inner-->
</div><!--wrapper-->
<!--end of cover page-->